<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudyRoomBooking.Properties.Settings.StudyRoomBookingConnectionString"
            connectionString="Data Source=DESKTOP-35S7BFT;Initial Catalog=StudyRoomBooking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyRoomBooking.Properties.Settings.StudyRoomBookingConnectionString1"
            connectionString="Data Source=LOCALHOST;Initial Catalog=StudyRoomBooking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>